@import url('https://fonts.googleapis.com/css2?family=Kalnia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height:100vh;
    background: rgb(0,0,6);
background: linear-gradient(90deg, rgba(0,0,6,1) 0%, rgba(39,39,35,1) 1%, rgba(157,128,7,1) 94%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo{
    width: 110px;
    height: 107px;
    margin-left: 20px;
}

.content{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 70vh;
    align-items: center;
    flex-wrap: wrap;
}

h4{
    color: white;
    margin: 10px 0px 0px 14px;
    font-size: 25px;
    font-family: 'Caveat', cursive;
    letter-spacing: 3px;

}

    p {
        font-size: 22px;
        margin-left: 15px;
        color: #ffda3f;
        font-style: italic;
    }


img{
    width: 400px;
    height: 350px;
}

form{
    width: 500px;
    height: 400px;
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid black;
display: grid;
grid-template-rows: 1fr,auto;

}

form > label {
    margin-left: 19px;

}
label{
margin-top: 12px;
font-size: 17px;
}

input{
    width:90%;
    height: 20px;
    margin-left: 18px;
    height: 30px;
    border: none;
    background-color: transparent;
    border-bottom: solid 1.5px gray;
    text-align: center;
    color: white;
    


}

.last-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;

}
.last-info > label {
    margin-left: -20px;    
}

button{
    margin: 30px 0px 15px 0px;
    align-self: center;
    justify-self: center;
    font-size: 19px;
    padding: 3px 34px;
    background: linear-gradient(46deg, #ffcd3b, rgb(0,0,2));
    color: rgba(255, 255, 255, 0.831);
    border: none;
    cursor: pointer;
    width: 207px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 700;
    border-radius: 6px;
}

button:hover{
    background: linear-gradient(100deg,  rgb(0,0,2),#ffcd3b);


}





.last-info > input{
    align-self: center;
    justify-self: left;
    margin-left: -20px;
    width: auto;
}

select{
    width:90%;
    height: 20px;
    margin-left: 18px;
    height: 30px;
    border: none;
    background-color: transparent;
    border-bottom: solid 1.5px gray;
    text-align: center;
    color: white;
}
optgroup{
    color: black;
    background-color: #ffcd3b;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}
 option{
    color: black;
}